<h2>Professor</h2>

<p>
  <b>Sungsu Lim (임성수)</b><br>
  Associate Professor<br>
  School of Computing and AI<br>
  Chungnam National University
</p>

<p>
  <a href="https://sungsu-lim.github.io/" target="_blank">Personal Web</a>
  &nbsp;·&nbsp;
  <a href="https://scholar.google.com/citations?user=cMQT0a8AAAAJ" target="_blank">Google Scholar</a>
</p>

<h3>Contact</h3>

<p>
  Email: sungsu (AT) cnu.ac.kr<br>
  Office: W2-612, Chungnam National University<br>
  Daejeon, Republic of Korea
</p>

<h3>Join DILAB</h3>

<p>
  We are looking for motivated students interested in
  graph machine learning and related AI research.
</p>

<p>
  Please contact Prof. Sungsu Lim by email for research opportunities.
</p>
