---
title: Members
layout: members
group: members
---

<h1>Members</h1>

<h2>Professor</h2>

{% for member in site.members %}
  {% if member.category == "professor" %}
    <hr>
    <div id="{{ member.name }}" class="row member-profile">
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ member.image }}" alt="{{ member.name }}" loading="lazy">
      </div>

      <div class="col-sm-8">
        <h3>{{ member.name }}</h3>

        <p>
          {{ member.position }}<br>
          {% if member.email %}
            Email: {{ member.email }}
          {% endif %}
        </p>

        {% if member.website %}
          <a href="{{ member.website }}" target="_blank">Personal Web</a>
        {% endif %}

        {% if member.scholar %}
          &nbsp;·&nbsp;
          <a href="https://scholar.google.com/citations?user={{ member.scholar }}" target="_blank">Google Scholar</a>
        {% endif %}

        {{ member.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}


<h2>Students</h2>

{% for member in site.members %}
  {% if member.category == "student" %}
    <hr>
    <div id="{{ member.name }}" class="row member-profile">
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ member.image }}" alt="{{ member.name }}" loading="lazy">
      </div>

      <div class="col-sm-8">
        <h3>{{ member.name }}</h3>

        <p>
          {{ member.position }}<br>
          {% if member.email %}
            Email: {{ member.email }}
          {% endif %}
        </p>

        {% if member.website %}
          <a href="{{ member.website }}" target="_blank">Personal Web</a>
        {% endif %}

        {% if member.scholar %}
          &nbsp;·&nbsp;
          <a href="https://scholar.google.com/citations?user={{ member.scholar }}" target="_blank">Google Scholar</a>
        {% endif %}

        {{ member.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}


<h2>Part-time & Co-advising Students</h2>

{% for member in site.members %}
  {% if member.category == "parttime" %}
    <hr>
    <div class="row member-profile">
      <div class="col-sm-12">
        <h4>{{ member.name }}</h4>
        <p>{{ member.position }}</p>
        {{ member.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}


<h2>Alumni</h2>

<p>
  Former Ph.D. and M.S. students, undergraduate interns, and visiting scholars.
</p>

<p>
  <a href="/alumni/">View Alumni →</a>
</p>
