---
title: Members
layout: members
group: members
---

<h1>Members</h1>

<h2>Professor</h2>

{% for member in site.members %}
  {% if member.category == "professor" %}
    <hr>
    <div id="{{ member.name }}" class="row member-profile">
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ member.image }}" alt="{{ member.name }}" loading="lazy">
      </div>

      <div class="col-sm-8">
        <h3>{{ member.name }}</h3>

        <p>
          {{ member.position }}<br>
          {% if member.email %}
            Email: {{ member.email }}
          {% endif %}
        </p>

        {% if member.website %}
          <a href="{{ member.website }}" target="_blank">Personal Web</a>
        {% endif %}

        {% if member.scholar %}
          &nbsp;·&nbsp;
          <a href="https://scholar.google.com/citations?user={{ member.scholar }}" target="_blank">Google Scholar</a>
        {% endif %}

        {{ member.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}


<h2>Students</h2>

{% for member in site.members %}
  {% if member.category == "student" %}
    <hr>
    <div id="{{ member.name }}" class="row member-profile">
      <div class="col-sm-4">
        <img class="img-fluid" src="{{ member.image }}" alt="{{ member.name }}" loading="lazy">
      </div>

      <div class="col-sm-8">
        <h3>{{ member.name }}</h3>

        <p>
          {{ member.position }}<br>
          {% if member.email %}
            Email: {{ member.email }}
          {% endif %}
        </p>

        {% if member.website %}
          <a href="{{ member.website }}" target="_blank">Personal Web</a>
        {% endif %}

        {% if member.scholar %}
          &nbsp;·&nbsp;
          <a href="https://scholar.google.com/citations?user={{ member.scholar }}" target="_blank">Google Scholar</a>
        {% endif %}

        {{ member.description | markdownify }}
      </div>
    </div>
  {% endif %}
{% endfor %}


<hr>

<h2>Part-time & Co-advising Students</h2>

<h4>Part-time Ph.D. Students</h4>
<ul>
  <li><b>Jinyoung Kim (김진영)</b> — KISTI</li>
  <li><b>Jae-Wook Seol (설재욱)</b> — KISTI</li>
  <li><b>Jun-Hyoung Park (박준형)</b> — KFE</li>
</ul>

<h4>Part-time M.S. Students</h4>
<ul>
  <li><b>Semi Min (민세미)</b> — KIRD</li>
</ul>

<h4>Co-advising Ph.D. Students</h4>
<ul>
  <li>
    <b>Soomin Lee (이수민)</b> — Ewha Womans University
    <br>
    <small>Co-advisor: Dongil Kim</small>
  </li>
</ul>


<hr>

<h2>Alumni</h2>

<h3>Ph.D. Graduates</h3>

<ul>
  <li>
    <b>Hwan Kim (김환)</b><br>
    Ph.D. in CSE, February 2025<br>
    MS/PhD: Sep. 2019 – Feb. 2025<br>
    Current: M.I.Cube Solution
  </li>

  <li>
    <b>Wonkeun Jo (조원근)</b> <em>(co-advising)</em><br>
    Ph.D. in CSE, February 2025<br>
    Current: KASI<br>
    Co-advisor: Dongil Kim
  </li>

  <li>
    <b>Hangoo Kang (강한구)</b> <em>(part-time, co-advising)</em><br>
    Ph.D. in CSE, February 2025<br>
    Affiliation: KIOST<br>
    Co-advisor: Dongil Kim
  </li>

  <li>
    <b>Soohwan Jeong (정수환)</b><br>
    Ph.D. in CSE, August 2025<br>
    MS/PhD: Mar. 2020 – Aug. 2025<br>
    Current: ADD
  </li>

  <li>
    <b>Jeongseon Kim (김정선)</b><br>
    Ph.D. in CSE, August 2025<br>
    MS/PhD: Mar. 2020 – Aug. 2025<br>
    Current: ETRI
  </li>

  <li>
    <b>Jongmin Park (박종민)</b><br>
    Ph.D. in CSE, February 2026<br>
    MS/PhD: Mar. 2021 – Feb. 2026<br>
    Current: ETRI
  </li>

  <li>
    <b>Soyoung Park (박소영)</b><br>
    Ph.D. in CSE, August 2026<br>
    Ph.D.: Mar. 2023 – Aug. 2026<br>
    Current: UNIST Postdoctoral Researcher
  </li>
</ul>


<h3>M.S. Graduates</h3>

<ul>
  <li><b>Yeong Cheol Kim (김영철)</b> — M.S. 2023, Technical Research Personnel</li>
  <li><b>Sub Jae Shin (신섭재)</b> — M.S. 2023, MedySapiens</li>
  <li><b>Pilmin Park (박필민)</b> <em>(part-time)</em> — M.S. 2023, Ministry of Data and Statistics</li>
  <li><b>Nakhyeon Seong (성낙현)</b> — M.S. 2023</li>
  <li><b>Eun-Hyeong Bae (배은형)</b> <em>(part-time)</em> — M.S. 2024</li>
  <li><b>Geonhee Jang (장건희)</b> <em>(co-advising)</em> — M.S. 2024</li>
  <li><b>Mingyu Choi (최민규)</b> — M.S. 2025, AIBIZ</li>
  <li><b>Jiyong Park (박지용)</b> <em>(part-time)</em> — M.S. 2025, K-water</li>
  <li><b>Hyewon Lee (이혜원)</b> — M.S. 2026, KAERI</li>
  <li><b>Chanuk Lim (임찬욱)</b> <em>(part-time)</em> — M.S. 2026, KISTI</li>
</ul>


<h3>Undergraduate Interns</h3>

<p>
Kim Beomjin · Jeong Jihwan · Lim Jieun · Song Minkyung · Kim Minki ·
Lee Hyewon · Choi Mingyu · Han Seunghoon · Kang Dahyun · Seong Nakhyeon ·
Park Jongmin · Jo Seunghyeon · Ahn Chaeryeong · Lee Hyunjun · Park Chanil ·
Jeong Soohwan · Moon Taehong · Lee Sangin · Shim Kyuyoung · Lee Jaehoon ·
Song Hayoung · Cheon Wonjun
</p>


<h3>Visiting Scholars</h3>

<ul>
  <li><b>Jin-woo Lee (이진우)</b> — Samsung SDS, 2026</li>
  <li><b>Junghoon Kim (김정훈)</b> — NTU SCSE, 2021–2022; Current: UNIST CSE</li>
</ul>
